
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html{
    position: relative;
    min-height: 100%;
}

html, body{
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    background-image: url(../image/header-bg.jpg);
    height: 200px;
    line-height: 100px;
    box-shadow: 0 0px 5px #ecf0f1 inset;
}

nav h1 {
    margin: 0;
    font-size: 40px;
    color: #ecf0f1;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 5px #ecf0f1;
}

.container {
    margin: 20px 20px 100px 20px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: #ecf0f1;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

a {
    color: #2980b9;
    text-decoration: none;
}

.form {
    display: inline-block;
    text-align: center;
    width: 40%;
}

.form form {
    display: inline-block;
}

.form.subscribe {
    /*text-align: right;*/
    margin-left: 10%;
}

.form.login {
    /*text-align: left;*/

}

.form input, .form button {
    display: block;
    margin: 5px auto;
}

#page_title{
  font-size: 100px;
  color: #fff;
  padding-top: 50px;
  margin-bottom: -90px;
}


#page_title h6{
  margin-top: 2%;
  color:#002F2F;
  font-size: 30%;
  text-align: center;

}
.category {
  width: 27%;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 10%;
  position: relative;
}

.category p {
  position: absolute;
  top: 100%;
  background-color: #efeaee;
  color: #002F2F;
  opacity: 0.9;
  text-align: center;
  width: 180px;
  height: 66px;
  border-radius: 4px;
  margin: 0px 0px;
}


.category img{
  height: 150px;
  width: 180px;

}
.category img:hover{

  opacity:0.5;
}
.category p:hover{
  opacity:0.8;
}
table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  text-align: center;
  padding: 8px;
}

thead{
  background-color: rgba(0, 0, 0, 0.28);
  color: white;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.28);
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  width:100px;
  cursor: pointer;
  margin: 5px;
}


button:hover {
  opacity: 0.6;
  right: 0;
}
